# Node.js
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/nvenv/

# Python
backend/__pycache__/
backend/.env
backend/token.json
backend/credentials.json
backend/prev_files/
backend/bvenv/
backend/tvenv/
# === Editor configs ===
*.log
*.pyc
.DS_Store


# === Build / Cache ===
__pycache__/
node_modules/
*.py[cod]
*.mkv