# Node.js
frontend/node_modules/
frontend/.next/
frontend/.env.local

# Python
backend/__pycache__/
backend/.env
backend/token.json
backend/credentials.json

# === Editor configs ===
*.log
*.pyc
.DS_Store


# === Build / Cache ===
__pycache__/
node_modules/
frontend/nvenv/
backend/bvenv/


